body {
    background-color: whitesmoke;
    border: 5px dotted red;
    color: blue;
}

h1 {
    color: blue;
}

h2 {
    color: #edc4ff;
}

.tutu {
    color: deeppink;
}

#intro {
    background-color: lightyellow;
}